<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jesus.kendotrannig">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design">
        <activity android:name=".app.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".app.itens.ExercicioViewHolderActivity" />
        <activity
            android:name=".app.ExerciciosActivity"
            android:parentActivityName=".app.MainActivity" />
        <activity
            android:name=".app.TreinoActivity"
            android:parentActivityName=".app.MainActivity" />
        <activity android:name=".app.AtividadeActivity" />
        <activity android:name=".app.MainActivity" />
        <activity android:name=".app.ReproducaoActivity" />
        <activity
            android:name=".app.ExecicioViewActivity"
            android:parentActivityName=".app.ExerciciosActivity" />
        <activity android:name=".app.itens.ExercicioRealizadoViewHolderActivity" />
        <activity android:name=".app.itens.ContagemActivity" />
    </application>

</manifest>